[run]
branch = True
source =
    postmodel
omit =
    postmodel/ext/*
    postmodel/__init__.py

[report]
show_missing = True

exclude_lines =
    pragma: nocoverage
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
